.card {
  display: flex;
  width: 348px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #fff;
}

.flag {
}

.description {
  display: flex;
  padding: 25px 25px 35px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
