.toggler {
  display: inline-flex;
  padding-right: 0px;
  align-items: center;
  gap: 10px;
}

.light {
  color: #737373;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
}
