@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --light-color: #ededed;
  --dark-color: #202d35;
  --font-light-color: #0e0e0e;
  --font-dark-color: #ededed;
  --card-background-light-color: #fff;
  --card-background-dark-color: #2b3742;
  --learnmore-background-light-color: #fafafa;
  --learnmore-background-dark-color: #2b3742;
}

body[theme="Light"] {
  //имя переменной :свойство
  --common-color: var(--light-color);
  --font-color: var(--font-light-color);
  --card-background-color: var(--card-background-light-color);
  --learnmore-background-color: var(--learnmore-background-light-color);
}

body[theme="Dark"] {
  --common-color: var(--dark-color);
  --font-color: var(--font-dark-color);
  --card-background-color: var(--card-background-dark-color);
  --learnmore-background-color: var(--learnmore-background-dark-color);
}

body {
  background-color: var(--common-color);
  color: var(--font-color);
}

.wrapper {
  width: 1106px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

h1,
p {
  margin: 0;
}

.countriesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  width: 100%;
  padding: 0;
  gap: 32px;
  margin: 32px 0;
}
